@model List<ChatListDtoOutput>

@{
    ViewData["Title"] = "Messaggi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container container-custom">
    <div class="col-sm-8 offset-sm-2">
        <label class="title">
            Messaggi
        </label>

        @{
            foreach (var msg in Model)
            {
                <div class="col-12 border-bottom row-message" onclick="OpenModal('@msg.IdChat', '@string.Format("{0} {1}",msg.Nome,msg.Cognome)')">
                    <div class="row p-3">
                        <div class="col-2">
                            @{ if (msg.FotoUtente != null)
                                {
                                    var base64 = Convert.ToBase64String(msg.FotoUtente);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <div class="mb-2 mx-auto image-profile-edit" >
                                        <img id="profileImage" src="@imgSrc"  alt="image" class="rounded-circle d-block w-100" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-9">
                            <label class="adTitle">@msg.Nome @msg.Cognome
                            </label>

                            <br />

                            <span class="info">@msg.DataCreazione.Value.ToString("dd/MM/yyyy")</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@await Html.PartialAsync("_ChatModalPartial")

@section Scripts {
    <script type="text/javascript">
        var DetailChatUrl = "@Url.Action("GetChatDetail", "Messaggi" )";
    </script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
}