@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model ChangePasswordBindingModel

@{
    ViewData["Title"] = "Modifica la password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-custom">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-xs-12 mb-3">
            <a asp-action="Detail" asp-controller="Account" class="text-info float-right mt-2">@_localizer["Cancel"]</a>
            <label class="title">@ViewData["Title"]</label>
        </div>

        <div class="col-sm-6 offset-sm-3 col-xs-12">
            <form asp-action="EditPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label">@_localizer["OldPassword"]</label>
                    <div class="input-group">
                        <input type="password" asp-for="OldPassword" data-val-required="@_localizer["Required"]" class="form-control" >
                        <div class="input-group-append">
                            <button type="button" class="btn btn-show-password">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash d-none"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label" >@_localizer["NewPassword"]</label>
                    <div class="input-group">
                        <input type="password" asp-for="NewPassword" data-val-required="@_localizer["Required"]" class="form-control" >
                        <div class="input-group-append">
                            <button type="button" class="btn  btn-show-password">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash d-none"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">@_localizer["ConfirmPassword"]</label>
                    <div class="input-group">
                        <input type="password" asp-for="ConfirmPassword" data-val-required="@_localizer["Required"]" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-show-password">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash d-none"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@_localizer["Save"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>