@model IEnumerable<AnnunciDtoOutput>

@{
    if(Model == null || !(Model.Any()))
    {
        <div class="col-12 alert bg-light">
            <h6>Non sono presenti annunci.</h6>
        </div>
    }
}

@foreach (var item in Model)
{
        string detailUrl = @Url.Action("Detail", "Annunci", new { Id = item.Id });

        <div class="card card-annuncio mb-3 shadow-sm" onclick="NavigateToDetail('@detailUrl')">
            <div class="row no-gutters">
                <div class="col-md-6">
                    @{
                        if (item.ImmaginePrincipale != null)
                        {
                            var base64 = Convert.ToBase64String(item.ImmaginePrincipale);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src="@imgSrc" class="card-img card-img-annuncio" alt="image" />

                        }
                    }
                </div>
                <div class="col-md-6">
                    <div class="card-body p-0">
                        <div class="card-header p-1 bg-light border-0" style="text-align: end;">
                            @{
                                string cssClass = "";

                                if (item.FlagPreferito.HasValue && item.FlagPreferito.Value == true)
                                {
                                    cssClass = "text-primary";
                                }

                                <button type="button" class="btn bg-light @cssClass" data-preferred="@item.FlagPreferito" onclick="AddOrRemovePreferred(this,'@item.Id')"><i class="fas fa-heart"></i></button>
                            }

                            <button type="button" id="btnShareModal" onclick="event.stopPropagation();$('#shareModal').modal('show');" class="btn">
                                <i class="fas fa-share-alt"></i>
                            </button>
                        </div>

                        <div class="p-3 mt-2">
                            <h6>
                                @item.TipologiaProprieta in  @item.TipologiaAnnuncio
                                <br />
                                <small class="text-muted">@item.Indirizzo, @item.NomeComune</small>
                                <br />
                                <strong>@item.Prezzo €</strong>
                            </h6>

                                <hr />

                            @{
                                if (!String.IsNullOrEmpty(item.Descrizione) && item.Descrizione.Length > 200) {
                                    <small class="font-weight-ligh">@item.Descrizione.Substring(0, 200)...</small>

                                } else
                                {
                                    <small class="font-weight-ligh">@item.Descrizione...</small>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_ShareModal", item.Id)
 }

<script src="~/js/share-modal.js" asp-append-version="true"></script>

<script>
   
</script>