@model IEnumerable<AnnunciDtoOutput>

@{
    if(Model == null || !(Model.Any()))
    {
        <div class="col-12 alert bg-light">
            <label>Non sono presenti annunci.</label>
        </div>
    }
}

@foreach (var item in Model)
{
        string detailUrl = @Url.Action("Detail", "Annunci", new { Id = item.Id });

        <div class="card card-annuncio mb-5" data-id="@item.Id" data-coordinate="@item.CoordinateGeografiche" onclick="NavigateToDetail('@detailUrl')">
            <div class="row no-gutters">
                <div class="col-md-6">
                     <div class="position-absolute bg-transparent p-2 border-0" style="text-align: end;">
                            @{
                                string cssClass = "";

                                if (item.FlagPreferito.HasValue && item.FlagPreferito.Value == true)
                                {
                                    cssClass = "text-preferred";
                                }

                                <button type="button" class="btn ad-action-button @cssClass" data-preferred="@item.FlagPreferito" onclick="AddOrRemovePreferred(this,'@item.Id')"><i class="fas fa-heart"></i></button>
                            }

                            <button type="button" id="btnShareModal" onclick="event.stopPropagation();$('#shareModal').modal('show');" class="btn ad-action-button">
                                <i class="fas fa-share-alt"></i>
                            </button>
                        </div>
                    @{
                        if (item.ImmaginePrincipale != null)
                        {
                            var base64 = Convert.ToBase64String(item.ImmaginePrincipale);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src="@imgSrc" class="card-img rounded" alt="image" height="260" />
                        }
                    }
                </div>
                <div class="col-md-6">
                    <div class="card-body p-0">
                        <div class="pl-3 mt-0">
                             <span class="adTitle"> @item.TipologiaProprieta in  @item.TipologiaAnnuncio a @string.Format("{0:N0}€", item.Prezzo)</span>
                            <br />
                            <label  >@item.Indirizzo, @item.NomeComune</label>
                            <br />
                            <label class="mb-3">Superficie: @item.Superficie m² </label>

                            <br />
                            @{
                                if (!String.IsNullOrEmpty(item.Descrizione) && item.Descrizione.Length > 200) {
                                    <span class="info">@item.Descrizione.Substring(0, 200)...</span>

                                } else
                                {
                                    <span class="info">@item.Descrizione...</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_ShareModal", item.Id)
        
 }


<script src="~/js/share-modal.js" asp-append-version="true"></script>

<script type="text/javascript">
     var CurrentListPage = "@ViewData["CurrentListPage"]";
</script>