@model List<AppuntamentoDtoOutput>

<div class="row mt-5">
    @{

        if (Model == null || !Model.Any())
        {
            <div class="col-12 alert bg-light">
                <label class="h6">Non sono presenti appuntamenti.</label>
            </div>
        }
        else
        {
            foreach (var appuntamento in Model)
            {
                string cssClass = "border-0";
                if (appuntamento.Confermato.HasValue && !appuntamento.Confermato.Value)
                {
                    cssClass = "border border-danger";
                }

                <div class="col-12 shadow-sm @cssClass" onclick="LoadAppointmentDetail('@appuntamento.IdAppuntamento')">
                    <div class="row">
                        <div class="col-3 text-center p-3">
                            <label>@appuntamento.Data.ToString("HH:mm")</label>
                        </div>
                        <div class="col-9 p-3">
                            <span> Appuntamento con @appuntamento.NameAndSurnamePersonToMeet </span>
                            <span class="info">@string.Format("{0},{1}", appuntamento.Indirizzo, appuntamento.NomeComune)</span>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>




