@model AppuntamentoDettaglioDtoOutput


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                Questo appuntamento non è ancora stato confermato da @Model.NameAndSurnamePersonToMeet
            </div>
        </div>

        <div class="col-12">
            <label class="section-title">Appuntamento con</label>

            <br />
            @{
                if (Model.ImagePersonToMeet != null)
                {
                    var base64 = Convert.ToBase64String(Model.ImagePersonToMeet);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <div class="mb-2 mx-auto image-profile-edit">
                        <img id="profileImage" src="@imgSrc" alt="image" class="rounded-circle d-block w-100" />
                    </div>
                }
            }

            <span>@Model.NameAndSurnamePersonToMeet</span>
            <br />
            <label class="section-title mt-3">Quando</label>
            <br />

            <span>@Model.Data.ToString("dd/MM/yyyy HH:mm")</span>

            <br />
            <label class="section-title mt-3">Dove</label>
            <br />

            <span>@string.Format("{0}, {1}", Model.InfoAnnuncio.Indirizzo, Model.InfoAnnuncio.NomeComune)</span>
            <br />

            <div id="googleMap" data-latlng="@Model.CoordinateGeograficheAnnuncio" class="map w-100 rounded-lg mt-2" style="height:200px;"></div>


            <label class="section-title mt-3">Annuncio</label>



        </div>

        <div class="col-4">
            @{
                if (Model.InfoAnnuncio.ImmaginePrincipale != null)
                {
                    var base64 = Convert.ToBase64String(Model.InfoAnnuncio.ImmaginePrincipale);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" class="w-100 rounded-lg" alt="image" />
                }
            }
        </div>

        <div class="col-8">
            <div class="p-1 mt-2">
                <span> @Model.InfoAnnuncio.TipologiaProprieta in  @Model.InfoAnnuncio.TipologiaAnnuncio a @string.Format("{0:N0}€", Model.InfoAnnuncio.Prezzo)</span>
                <br />
                <span>@Model.InfoAnnuncio.Indirizzo, @Model.InfoAnnuncio.NomeComune</span>
                <br />
                <span class="mb-3">Superficie: @Model.InfoAnnuncio.Superficie m² </span>
            </div>
        </div>

        <div class="col-12">
            <hr />
            @if (Model.FromMe.HasValue && Model.FromMe.Value == true)
            {
                <button onclick="DeleteAppointment('@Model.IdAppuntamento')" type="button" class="btn btn-danger">Annulla appuntamento</button>
            }
            else if (Model.Confermato.HasValue && Model.Confermato.Value == false)
            {
                <button onclick="DeleteAppointment('@Model.IdAppuntamento')" type="button" class="btn btn-danger">Rifiuta</button>
                <button onclick="AcceptAppointment('@Model.IdAppuntamento')" type="button" class="btn btn-success">Accetta</button>
            }
        </div>
    </div>

       

       

   
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUDWKfs6tGF891vL-VwXYubP_IKuG8exg&callback=setMap"></script>
