@model List<AppuntamentoDtoOutput>

<div class="row mt-5">
    @{
        foreach (var appuntamento in Model)
        {
            string cssClass = "border-0";
            if (appuntamento.Confermato.HasValue && !appuntamento.Confermato.Value)
            {
                cssClass = "border border-danger";
            }

            <div class="col-12 shadow-sm @cssClass" style="cursor:pointer;height:90px" onclick="LoadAppointmentDetail('@appuntamento.IdAppuntamento')">
                <div class="row">
                    <div class="col-3 text-center" style="height:90px">
                        <label style="margin-top:30px">@appuntamento.Data.ToString("HH:mm")</label>
                    </div>
                        <div class="col-9">
                            <span> Appuntamento con @appuntamento.NameAndSurnamePersonToMeet </span>
                            <p><small>@string.Format("{0},{1}",appuntamento.Indirizzo, appuntamento.NomeComune)</small></p>
                    </div>
                </div>
            </div>
        }
    }
</div>




