<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppAppartamentiWebMvc</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/brands.min.css" />
    <link rel="stylesheet" href="~/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/regular.min.css" />
</head>

<body>
    <header>
        <nav id="nav" class="navbar navbar-expand-sm fixed-top navbar-light bg-white mb-3 shadow-lg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fas fa-igloo h2"></i></a>
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="AnnunciPreferiti" asp-action="List"> Preferiti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="AnnunciPersonali" asp-action="List">I miei annunci</a>
                            </li>
                        }
                    </ul>

                    <form id="navSearchBar" class="navbar-center">
                       <div class="input-group" style="text-align: center;">
                          <input id="searchbarInput" type="text" class="form-control" placeholder="Cerca per città o provincia" aria-label="Cerca per città o provincia" aria-describedby="buttonSearch">
                          <div class="input-group-append">
                            <a class="btn btn-primary disabled" id="buttonSearch" asp-controller="Annunci" asp-action="List">Cerca</a>
                          </div>
                        </div>
                        <div id="searchBarFilters" class="col-12 shadow bg-light " style="display:none;">
                            <hr>
                        </div>
                    </form>

                    <ul class="navbar-nav justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name <img src="" alt="..." class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right border-0 bg-light shadow" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Informazioni personali</a>
                                    <a class="dropdown-item" href="#">Impostazioni</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" asp-controller="Login" asp-action="LogOut">Esci</a>
                                </div>
                              </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#" data-toggle="modal" data-target="#modalSignIn">Registrati</a>
                            </li>
                            <li class="nav-item">
                                <a id="btnAccedi" class="nav-link text-dark" href="#" data-toggle="modal" data-target="#modalLogin">Accedi</a>
                            </li>
                        }
                    </ul>
            </div>
        </nav>
    </header>

    @RenderSection("SubHeader", required: false)


    <partial name="_CookieConsentPartial" />
        
     @RenderBody()

    <partial name="_RegistrationPartial" />
    <partial name="_LoginPartial" />

    <footer class="footer pt-5 bg-dark text-white" style="margin-top:100px; border-top:3px solid #ff6b6b;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                  <i class="fas fa-igloo h2"></i>
                </div>
                <div class="col-6 col-md">
                  <h5>Features</h5>
                  <ul class="list-unstyled text-small">
                    <li><a  href="#">Cool stuff</a></li>
                    <li><a href="#">Random feature</a></li>
                    <li><a href="#">Team feature</a></li>
                    <li><a href="#">Stuff for developers</a></li>
                    <li><a  href="#">Another one</a></li>
                    <li><a  href="#">Last time</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md">
                  <h5>Resources</h5>
                  <ul class="list-unstyled text-small">
                    <li><a href="#">Resource</a></li>
                    <li><a href="#">Resource name</a></li>
                    <li><a href="#">Another resource</a></li>
                    <li><a href="#">Final resource</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md">
                  <h5>Resources</h5>
                  <ul class="list-unstyled text-small">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Government</a></li>
                    <li><a href="#">Gaming</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md">
                  <h5>About</h5>
                  <ul class="list-unstyled text-small">
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a  href="#">Terms</a></li>
                  </ul>
                </div>
              </div>

            <hr />

            <div class="row p-5">
                <div class="col-6">
                    &copy; 2019 - AppAppartamentiWebMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                </div>
                 <div class="col-6 text-right">
                     seguici su
                     <button type="button" class="btn btn-outline-white rounded-circle btn-social"><i class="fab fa-facebook-f"></i></button>
                     <button type="button" class="btn btn-outline-white rounded-circle btn-social"><i class="fab fa-instagram"></i></button>
                     <button type="button" class="btn btn-outline-white rounded-circle btn-social"><i class="fab fa-twitter"></i></button>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
