@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer _localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App appartamenti</title>
    <link rel="stylesheet" href="~/bundle/bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/core@4.3.1/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/daygrid@4.3.0/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@@fullcalendar/timegrid@4.3.0/main.min.css">
</head>

<body data-spy="scroll" data-target="#navbar-create" style="position:relative" data-offset="90">
    <header>
        <nav id="nav" class="navbar navbar-expand-lg fixed-top navbar-light bg-white mb-3 shadow-sm pl-1 pr-1">
            <button class="navbar-toggler border-0 p-1" type="button" data-toggle="collapse" data-target=".collapsible-navbar" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-igloo h3 text-primary"></i>
                <i class="fas fa-sort-down" style="margin-top: -10px !important;"></i>
            </button>
            <div class="container-fluid pl-1 pr-1">
                <a class="navbar-brand d-none d-sm-block" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fas fa-igloo h2"></i></a>

                <form id="navSearchBar" class="navbar-start">
                    <input id="codiceComune" type="number" value="" style="display: none;" />
                    <div class="input-group" style="text-align: center;">
                        <input id="searchbarInput" autocomplete="false" type="text" class="form-control border-right-0 search-textbox" placeholder="@_localizer["SearchPlaceholder"]" aria-label="@_localizer["SearchPlaceholder"]" aria-describedby="buttonSearch">
                        <div class="search-spinner spinner-border spinner-border-sm text-secondary mt-2" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="input-group-append">
                            <a id="btnFiltri2" data-toggle="modal" data-target="#filterModal" class="btn btn-link text-dark border border-left-0" href="#"><small>+ @_localizer["OtherFilterLabel"]</small></a>
                        </div>
                        <div class="input-group-append">
                            <a class="btn btn-primary disabled search-button" id="buttonSearch" asp-controller="Annunci" asp-action="List">@_localizer["Search"]</a>
                        </div>
                    </div>
                </form>

                <div class="navbar-collapse collapsible-navbar collapse hide">
                    <ul class="navbar-nav justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-action="Create" asp-controller="AnnunciPersonali" class="nav-link nav-link btn btn-info p-1 m-1 text-white">@_localizer["PostAdLabel"]</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="AnnunciPreferiti" asp-action="List">@_localizer["FavoritesLabel"]</a>
                            </li>

                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Messaggi" asp-action="List">Messaggi</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="AnnunciPersonali" asp-action="List">@_localizer["MyAdsLabel"]</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark p-1 m-1 d-none d-sm-block" id="agenda-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Agenda
                                </a>

                                <a class="nav-link text-dark d-block d-sm-none" asp-controller="Agenda" asp-action="Detail">
                                    Agenda
                                </a>

                                <div class="dropdown-menu dropdown-agenda dropdown-menu-right border-0 bg-white shadow" aria-labelledby="agenda-menu-link" style="width:700px;height:430px;">
                                    <div class="p-3">
                                        <div class="container-flui">
                                            <div class="row">
                                                <div class="col-7">
                                                    <div id="nav-calendar"></div>
                                                </div>
                                                <div class="col-5">
                                                    <a asp-controller="Agenda" asp-action="Detail" class="btn btn-sm bg-light rounded-pill text-dark float-right"><i class="fas fa-expand-arrows-alt"></i>&nbsp;Espandi</a>
                                                    <div id="TodayAppointment">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark p-0 m-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img id="profileImage" class="rounded-circle" width="45" height="45" style="        margin-top: -5px" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right border-0 bg-white shadow" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="p-3 text-center">
                                        <h6 id="lblNomeCognome">
                                        </h6>
                                        <small id="lblEmail" class="text-muted"></small>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Detail">@_localizer["ProfileLabel"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Setting" asp-action="Detail">@_localizer["SettingsLabel"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal-share">
                                        <img src="@string.Format("/images/{0}.png", @requestCulture.RequestCulture.UICulture.Name)" id="profileImage" class="rounded-circle" width="20" height="20" style="margin-top: -5px" />

                                        @{
                                            if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                            {
                                                @:English
                                            }
                                            else
                                            {
                                                @:Italiano
                                            }
                                        }
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" asp-controller="Login" asp-action="LogOut">@_localizer["LogoutLabel"]</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#" data-toggle="modal" data-target="#modalSignUp">@_localizer["SignInLabel"]</a>
                            </li>
                            <li class="nav-item">
                                <a id="btnAccedi" class="nav-link text-dark" href="#" data-toggle="modal" data-target="#modalLogin">@_localizer["LogInLabel"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark" data-toggle="modal" data-target="#modal-share">
                                    <img src="@string.Format("/images/{0}.png", @requestCulture.RequestCulture.UICulture.Name)" id="profileImage" class="rounded-circle" width="20" height="20" style="margin-top: -5px" />

                                    @{
                                        if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                        {
                                            @:English
                                        }
                                        else
                                        {
                                            @:Italiano
                                        }
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderSection("SubHeader", required: false)

    @{await Html.RenderPartialAsync("_ErrorPartial");}

    <partial name="_CookieConsentPartial" />

    @RenderBody()

    @await Html.PartialAsync("_SelectLanguagePartial")

    <div id="divFilterModal" data-url="@Url.Action("FilterModal", "Home")">
    </div>

    <div class="modal fade" id="modal-provider-error" tabindex="-1" role="dialog" aria-labelledby="modal-provider-error" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
            <div class="modal-content ">
                <div class="modal-body p-5">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="mt-5">
                        Questa email è associata ad un altro account.<br />
                        <small class="text-muted">Prova ad accedere con un altro provider</small>
                    </h4>

                    <button class="btn btn-primary btn block" onclick="$('#modal-provider-error').modal('hide');$('#modalLogin').modal('show')">Accedi</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer pt-5 bg-dark text-white position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <i class="fas fa-igloo h2"></i>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Cool stuff</a></li>
                        <li><a href="#">Random feature</a></li>
                        <li><a href="#">Team feature</a></li>
                        <li><a href="#">Stuff for developers</a></li>
                        <li><a href="#">Another one</a></li>
                        <li><a href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Resource</a></li>
                        <li><a href="#">Resource name</a></li>
                        <li><a href="#">Another resource</a></li>
                        <li><a href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Government</a></li>
                        <li><a href="#">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>

            <hr />

            <div class="row p-5">
                <div class="col">
                    &copy; 2019 - AppAppartamentiWebMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                </div>
                <div class="col text-right">
                    @_localizer["FollowUsLabel"]
                    <button type="button" class="btn btn-social text-white"><i class="fab fa-facebook-f"></i></button>
                    <button type="button" class="btn btn-social text-white"><i class="fab fa-instagram"></i></button>
                    <button type="button" class="btn btn-social text-white"><i class="fab fa-twitter"></i></button>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        var loggedUser = "@User.Identity.Name";
        var selectedLanguage = "@requestCulture.RequestCulture.UICulture.Name.ToLower()";

        if (selectedLanguage == "en-us") {
            selectedLanguage = "en";
        } else {
            selectedLanguage = "it";
        }

        var UrlTodayAppointment = "@Url.Action("GetAppointmentList", "Agenda",new { SelectedDate = DateTime.Now})";
    </script>

    <script src="~/bundle/bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@fullcalendar/core@4.3.1/main.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@fullcalendar/interaction@4.3.0/main.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@fullcalendar/daygrid@4.3.0/main.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@fullcalendar/timegrid@4.3.0/main.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@fullcalendar/core@4.3.1/locales/it.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@fullcalendar/core@4.3.1/locales/en-gb.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var calendarEl = document.getElementById('nav-calendar');
            if (calendarEl != null) {
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['dayGrid', 'timeGrid'],
                    locale: selectedLanguage,
                    themeSystem: 'bootstrap',
                    header: {
                        left: 'title',
                        center: '',
                        right: ''
                    },
                    footer: {
                        left: '',
                        center: '',
                        right: ''
                    }
                });

                calendar.render();
            }
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @RenderSection("Scripts", required: false)
</body>
</html>
