@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h4>@_localizer["Title"]</h4>
                    </div>
                    <div class="col-6">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div id="login-error" class="row d-none">
                    <div class="col-12">
                        <p class="text-danger bg-light rounded p-2">
                            @_localizer["Error"]
                        </p>
                    </div>
                </div>
                <form id="form-login" class="mt-4">
                    <div class="form-row mb-3">
                        <div class="col-12">
                            <input id="email" name="email" class="form-control"  data-val-required="Required" type="email" data-val="true" placeholder="Email" required>
                            <span class="field-validation-valid text-danger"data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Password" data-val-required="Required" data-val="true" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-light bg-light border btn-show-password">
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-eye-slash d-none"></i>
                                    </button>
                                </div>
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <button id="btn-login" type="submit" data-url="@Url.Action("Login", "Login")" class="btn btn-primary mb-2 btn-block">
                        <span id="spinner-login" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        @_localizer["Title"]
                    </button>

                    <a id="btn-restore-modal" class="text-muted" href="#"><small>@_localizer["ForgotPassword"]</small></a>

                    <div class="separator mt-4 mb-4">@_localizer["Or"]</div>

                    <button id="btnFacebookLogin" type="button" class="btn btn-block fb">
                        <span class="spinner d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <i class="fab fa-facebook-f"></i>&nbsp;@_localizer["SignInFacebook"]
                    </button>
                    <button id="btnGoogleLogin" type="button" class="btn btn-block google">
                        <span id="spinner-login" class="spinner d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <i class="fab fa-google"></i>&nbsp;@_localizer["SignInGoogle"]
                    </button>

                    <div>
                        <hr>
                        <a id="btnSignUp" class="text-muted btn btn-block btn-link btn-sm"
                           href="#">@_localizer["NotRegistered"] <strong class="text-primary">@_localizer["SignUp"]</strong></a>
                    </div>
        </form>
    </div>
</div>
      </div>
    </div>
