@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                  <div class="col-6">
                      <h4>@_localizer["Title"]</h4>
                  </div>
                  <div class="col-6">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                  </div>
              </div>

              <div class="row">
                  <div class="col-12">
                  <form asp-controller="Login" asp-action="Accedi" method="post" class="needs-validation" novalidate>
                    <input name="Email" class="form-control col-12 mb-2" type="email" placeholder="Email" required>
                    <input name="Password" class="form-control col-12 mb-2" type="password" placeholder="Password" required>
                    <button type="submit" class="btn btn-primary mb-2 btn-block">@_localizer["Title"]</button>

                    <div>
                        <a class="text-muted" href="#"><small>@_localizer["ForgotPassword"]</small></a>
                        <hr>
                    </div>

                    <bttton id="btnFacebookLogin" class="btn btn-block fb" ><i class="fab fa-facebook-f"></i>&nbsp;@_localizer["SignInFacebook"]</bttton>
                    <bttton id="btnGoogleLogin" class="btn btn-block google"> <i class="fab fa-google"></i>&nbsp;@_localizer["SignInGoogle"]</bttton>

                    <div>
                        <hr>
                        <a id="btnSignUp" class="text-muted btn btn-block btn-link btn-sm"
                           href="#">@_localizer["NotRegistered"] <strong class="text-primary">@_localizer["SignUp"]</strong></a>
                    </div>

                 </form>
                      </div>
              </div>
          </div>
        </div>
      </div>
    </div>


<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
</script>