@model RegisterUserBindingModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer

<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h4>@_localizer["Title"]</h4>
                    </div>
                    <div class="col-6">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>

                <form asp-controller="Login" asp-action="SignUp" class="mt-4">
                    <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-sm-12 mb-3">
                                <input asp-for="Name" data-val-required="@_localizer["Required"]" placeholder="@_localizer["Name"]" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <input asp-for="Surname" data-val-required="@_localizer["Required"]" placeholder="@_localizer["Surname"]" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <input asp-for="Email" data-val-required="@_localizer["Required"]" placeholder="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 mb-3">
                                <input asp-for="DataNascita" type="date" placeholder="@_localizer["BirthDate"]" class="form-control" />
                            </div>

                            <div class="col-sm-12 mb-3">
                                <div class="input-group">
                                    <input asp-for="Password" type="password" data-val-required="@_localizer["Required"]" placeholder="Password" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="btn border btn-show-password">
                                            <i class="far fa-eye"></i>
                                            <i class="far fa-eye-slash d-none"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class="input-group">
                                    <input asp-for="ConfirmPassword" required type="password" data-val-required="@_localizer["Required"]" placeholder="@_localizer["ConfirmPassword"]" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="btn border btn-show-password">
                                            <i class="far fa-eye"></i>
                                            <i class="far fa-eye-slash d-none"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <div id="confirm-password-error" class="text-danger d-none">
                                    @_localizer["PasswordMatch"]
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3"><div class="form-check">
                                <input type="checkbox" class="form-check-input" id="condition-check">
                                <label class="form-check-label" for="exampleCheck1">@_localizer["ConfirmCondition"]</label>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <input id="btn-signin" type="submit" class="btn btn-primary btn-block" disabled value="@_localizer["SignIn"]" />
                        </div>

                        <div class="col-sm-12 mb-3">
                            <div class="separator mt-4 mb-4">@_localizer["Or"]</div>

                            <a id="btnSignIn" href="#" class="text-muted btn btn-block btn-link btn-sm">
                                @_localizer["IsLogin"] <strong class="text-primary">@_localizer["LogIn"]</strong>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


