@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer

<div class="modal fade" id="modal-restore" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                <div class="col-6">
                    <button id="btn-back-login" type="button" class="btn btn-link text-info" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-arrow-left"></i>&nbsp;@_localizer["Backbutton"]
                   </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
              
                <div class="col-12 mt-3 mb-3">
                      <h4> @_localizer["Title"]<br />
                        <small class="text-muted">
                              @_localizer["Subtitle"]
                        </small>
                      </h4>
                </div>
              </div>
                 
              <form id="form-restore"  novalidate>
                  <div class="row">
                      <div class="col-12 mb-3">
                        <input id="email-restore" name="email-restore" class="form-control"  data-val-required="@_localizer["Required"]" type="email" data-val="true" placeholder="Email" required>
                        <span class="field-validation-valid text-danger" data-valmsg-for="email-restore" data-valmsg-replace="true"></span>
                      </div>
                      <div class="col-12">
                          <button id="btn-restore" type="button" data-url="@Url.Action("RestorePassword", "Login")" class="btn btn-primary mb-2">
                            <span id="spinner-restore" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                             @_localizer["Title"]
                        </button>
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
