@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Title"];
}

<div class="bgimg">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2 col-xs-12 p-1" style="margin-top:100px;">
                <div class="shadow-lg p-1 mb-5 bg-white rounded">
                    <div class="input-group input-group-lg" style="border: none;">
                        <div class="input-group-prepend d-none d-sm-block" style="background-color: white;">
                            <span class="input-group-text mt-1" id="basic-addon1" style="background-color: white;border: none;">
                                <i class="fas fa-search col-1"></i>
                            </span>
                        </div>
                        <input id="txtSearchHome" type="text" class="form-control search-textbox" placeholder="@_localizer["SearchPlaceholder"]" aria-label="Username" aria-describedby="basic-addon1" style="border: none;">
                        <div class="search-spinner spinner-border spinner-border-sm text-secondary mt-3" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="input-group-append">
                            <a id="btnFiltri2" data-toggle="modal" data-target="#filterModal" class="btn btn-link text-dark" href="#"><small>+ @_localizer["OtherFilterLabel"]</small></a>
                        </div>
                        <div class="input-group-append">
                            <a id="btnSearchHome" class="btn btn-primary disabled search-button"
                               style="border-radius:0.3rem !important;"
                               asp-controller="Annunci" asp-action="List">@_localizer["Search"]</a>
                        </div>

                    </div>
                </div>
            </div>
            <!--<div id="recent-ad"></div>-->
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 text-center p-2">
            <img class="bd-placeholder-img" src="/Images/SearchHouse.jpg" height="300"/>
            <p class="h5 mt-4">Cerca</p>

            <span class="mt-3">Cerca la tua casa dei sogni tra milioni di annunci</span>
        </div>
        <div class="col-md-4 text-center p-2">
            <img class="bd-placeholder-img" src="/Images/SellHouse.jpg" height="300"/>

            <p class="h5 mt-4">Vendi</p>

            <span class="mt-3">Pubblica un annuncio e inizia subito a vendere la tua casa</span>
        </div>
        <div class="col-md-4 text-center p-2">
           <img class="bd-placeholder-img" src="/Images/ContactPeople.jpg" height="300" width="100%"/>
            <p class="h5 mt-4">Contatta</p>

            <span class="mt-3">Contatta l'annunciatario e organizza un incrontro direttamente dall'app</span>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light mt-5">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h3>@_localizer["DownloadAppTitle"]</h3>
        <label >@_localizer["DownloadAppDescription"]</label>
        <br />
        <a class="btn btn-primary mt-3" href="#">
            <i class="fab fa-apple"></i> App Store
        </a>
        <a class="btn btn-primary mt-3" href="#">
            <i class="fab fa-android"></i> Play Store
        </a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">

    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block">

    </div>
</div>

<partial name="_RegistrationPartial" />
<partial name="_LoginPartial" />
<partial name="_RestorePasswordPartial" />

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}