@model AppAppartamentiApiClient.AnnuncioDtoOutput

@{
    ViewData["Title"] = "Dettaglio annuncio";
}

<div class="container container-custom">

@{
bool isActiveInserted2 = false;

foreach (var item in Model.ImmaginiAnnuncio)
{
    if (!isActiveInserted2)
    {
        <div class="col-6" style="padding:-20px">
                @{
                var base64 = Convert.ToBase64String(item);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img src="@imgSrc" class=" w-100" alt="image" style="max-height:500px"/>
        </div>

        isActiveInserted2 = true;
    }
    else
    {
        <div class="col-3" style="padding:-20px">
                    @{
                    var base64 = Convert.ToBase64String(item);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
            <img src="@imgSrc" class=" w-100" alt="image" style="max-height:500px"/>

        </div>
    }
}
}



    <div class="col-8 offset-2">
        <h2>@Model.TipologiaProprieta in @Model.TipologiaAnnuncio  @Model.Prezzo €</h2>
        <hr />
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    bool isLiActiveInserted = false;
                    @for (int i = 0; i < Model.ImmaginiAnnuncio.Count(); i++)
                    {
                        if (!isLiActiveInserted)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>

                            isLiActiveInserted = true;
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }
                    }
                    }
            </ol>
            <div class="carousel-inner">
                @{
                    bool isActiveInserted = false;

                    foreach (var item in Model.ImmaginiAnnuncio)
                    {
                        if (!isActiveInserted)
                        {
                            <div class="carousel-item active">
                                 @{
                                    var base64 = Convert.ToBase64String(item);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }

                                <img src="@imgSrc" class="d-block w-100" alt="image" style="max-height:400px"/>
                            </div>

                            isActiveInserted = true;
                        }
                        else
                        {
                            <div class="carousel-item">
                                <div class="carousel-item active">
                                     @{
                                        var base64 = Convert.ToBase64String(item);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }

                                    <img src="@imgSrc" class="d-block w-100" alt="image" style="max-height:400px"/>

                                </div>
                            </div>
                        }
                    }
                  }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-8 offset-2">
        <p>
            @Model.Descrizione
        </p>
    </div>
</div>



    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCreazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCreazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceComune)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceComune)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComune)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeComune)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Superficie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Superficie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipologiaProprieta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipologiaProprieta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipologiaAnnuncio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipologiaAnnuncio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancellato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancellato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImmaginePrincipale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImmaginePrincipale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimoPiano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimoPiano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCameraLetto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCameraLetto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAltreStanze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroAltreStanze)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBagni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBagni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCucine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCucine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroGarage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroGarage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPostiAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPostiAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giardino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giardino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ascensore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ascensore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balcone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balcone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piscina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piscina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpesaMensileCondominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpesaMensileCondominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipologiaRiscaldamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipologiaRiscaldamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatoProprieta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatoProprieta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClasseEnergetica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClasseEnergetica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condizionatori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condizionatori)
        </dd>
    </dl>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
