@{
    ViewData["Title"] = "View";
}

<div class="container container-custom">
    <div class="col-xs-12 col-sm-10  offset-sm-1 col-md-8 offset-md-2">
        <h2>
            Annunci

            <div class="btn-group float-right mt-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-sort-amount-down-alt"></i> Ordina per
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-76px, 31px, 0px);">
                    <button class="dropdown-item" type="button">@AppAppartamentiWebCoreMvc.Utility.Utility.AnnunciOrder.PRICE_ASC</button>
                    <button class="dropdown-item" type="button">@AppAppartamentiWebCoreMvc.Utility.Utility.AnnunciOrder.PRICE_DESC</button>
                    <button class="dropdown-item" type="button">@AppAppartamentiWebCoreMvc.Utility.Utility.AnnunciOrder.SIZE_ASC</button>
                    <button class="dropdown-item" type="button">@AppAppartamentiWebCoreMvc.Utility.Utility.AnnunciOrder.SIZE_DESC</button>
                    <button class="dropdown-item" type="button">@AppAppartamentiWebCoreMvc.Utility.Utility.AnnunciOrder.CREATION_DATE_ASC</button>
                    <button class="dropdown-item" type="button">@AppAppartamentiWebCoreMvc.Utility.Utility.AnnunciOrder.CREATION_DATE_DESC</button>
                </div>
            </div>
        </h2>

        <hr />

        <div id="annunci">
        </div>

        <div class="d-flex justify-content-center">
            <div id="listLoader" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            <br />
            <button id="loadFromMainFrame" class="btn btn-light btn-sm">Carica altri</button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var UrlRefresh = "@Url.Action("RefreshList", "Annunci",new { ListPage =  1} )";
    </script>

    <script src="~/js/annunci-list.js" asp-append-version="true"></script>
}